.searchInput {
  outline: none;
  background: transparent;
  border: none;
  font-size: 26px;
  padding: 4px 0px 4px 4px;
  margin-right: 0;
}

.autocompleteSuggestion {
  outline: none;
  background: transparent;
  color: var(--reactMacSearch-secondary-color);
  font-weight: bold;
  border: none;
  font-size: 24px;
  padding: 0;
}
